{
  "extends": ["react-app", "react-app/jest"],
  "ignorePatterns": ["*.css", "*.svg"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
